<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title></title>
        <meta name="description" content="Client Side Application">
        <meta name="author" content="20% Weekenders">
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css"/>
        <link rel="stylesheet" type="text/css" href="../css/login.css">

    </head>

    <body>

        <section class="hero is-success is-fullheight">
            <div class="hero-body has-background-grey-lighter">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <div class="box">
                            <h1 class="title-text-dark is-size-1">
                                New Customer
                            </h1>
                            <form>
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-large" type="text" placeholder="First Name" autofocus="">
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="control">
                                        <input class="input is-large" type="text" placeholder="Middle Name">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-large" type="text" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-large" type="text" placeholder="Phone Number">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-large" type="email" placeholder="Email">
                                    </div>
                                </div>
                            </form>
                            <br>
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" placeholder="Street Address">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" placeholder="Address Line 2">
                                </div>
                            </div>

                            <div class="columns">
                                <div class="column">
                                    <div class="field">
                                        <div class="control">
                                            <input class="input is-large" type="text" placeholder="City">
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <div class="control">
                                            <input class="input is-large" type="text" placeholder="State">
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <div class="control">
                                            <input class="input is-large" type="text" placeholder="Zip">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="field">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Remember me
                                </label>
                            </div>
                            <button class="button is-block is-info is-large is-fullwidth is-dark">
                                Create Account
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html></section><script async type="text/javascript" src="../js/bulma.js"></script><script src="js/app.js"></script></body></html>
