<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Register Page</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    </head>
   <body>
    <section class="hero is-success is-fullheight">
        <div class="hero-body has-background-grey-lighter">
            <div class="column is-4 is-offset-4">
                <div class="box">
                    <h3 class = "subtitle is-3 has-text-black">Edit Customer</h3>
                    <div class="field">
                        <label class="label">First Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="First Name">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Middle Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Middle Name">
                        </div>
                    </div>
                    <div class="field">
                            <label class="label">Last Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Phone Number</label>
                    <div class="control">
                        <input class="input" type="tel" placeholder="Phone Number">
                    </div>
                </div>
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="email" placeholder="Email input"></input>
                            <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Street Address</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="input" placeholder="Street Address">
                            <span class="icon is-small is-left">
                                <i class="fa fa-address-book"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Address Line 2</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="input" placeholder="Address Line 2">
                            <span class="icon is-small is-left">
                                <i class="fa fa-address-book"></i>
                            </span>
                        </div>
                    </div>
                    <div class = "columns">
                        <div class = "column">
                            <div class="field">
                                <label class="label">City</label>
                                <div class="control">
                                    <input class="input" type="input" placeholder="City">
                                </div>
                            </div>
                        </div>
                        <div class = "column">
                            <div class="field">
                                <label class="label">State</label>
                                <div class="control">
                                    <input class="input" type="input" placeholder="State Ex: MA, CT, NJ">
                                </div>
                            </div>
                        </div>
                        <div class = "column">
                            <div class="field">
                                <label class="label">Zip Code</label>
                                <div class="control">
                                    <input class="input" type="input" placeholder="Zip Code">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                    <div class="field">
                        <label class="label">Customer Notes</label>
                        <div class="control">
                          <textarea class="textarea" placeholder="Notes"></textarea>
                        </div>
                      </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </body>
</html>