<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Maxxinista Capstone</title>

    </head>

    <body style ="background-image: url('../images/bgImage.png'); background-size: cover; background-repeat: no-repeat;">

        <div class = "container w-25 h-25 border bg-dark text-white">
            <div class = "row">
                <div class = "col">
                    <h1>CSR Portal Login</h1>
                </br>
                    <div class="input-group">
                        <input id = "email_input" type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
                    </div>
                </br>
                    <div class="input-group">
                        <input id = "password_input" type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                    </div>
                </br>
                </div>
            </div>
            <div class = "row">
                <div class = "col">
                    <a href="place new account link here" target="_blank">Create new account</a>
                </div>
                <div class = "col">
                    <button id = "login_button" type = "button" class = "btn-info"> Login</button>
                </div>                
            </div>
        </div>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src = "./js/login.js"></script>
    </body>

</html>